.comment {
  position: relative;
  left: 12.5%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.comment-title {
  background-color: rgb(241, 241, 241);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.comment-body {
  padding: 5px;
}

.comment-text {
  padding-left: 15px;
  padding-right: 15px;
}
