.blog-content {
  white-space: pre-wrap;
}

.topic-style {
  padding-top: 35px;
  padding-bottom: 5px;
}

.author-style {
  padding-bottom: 15px;
}

.image-style {
  width: 463px;
}

.panel-heading {
  background-color: rgb(226, 226, 226);
  border: 1px solid black;
  margin-bottom: 15px;
}

.panel-heading:hover {
  background-color: #53a451;
  border: 1px solid white;
  color: white;
}

.panel-title {
  padding-top: 10px;
}
