.login-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
.login-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background: #353a3f;
  color: white;
  padding: 5px 10px;
}

.login-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.logout-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background: white;
  color: black;
  padding: 5px 10px;
}

.nav-item {
  padding: 8px;
  margin-left: 15px;
}
/* button.google-login {
  font-size: 10pt;
}

button.google-logout {
  font-size: 9pt;
  padding: 4pt;
  margin-left: 20px;
} */
